.tbl {
  border-collapse: collapse;
  border-top: 1px solid #f4f4f4;
  border-right: 1px solid #696969;
  border-bottom: 1px solid #696969;
  border-left: 1px solid #f4f4f4;
}
.tbl th {
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  padding: 2px 5px 2px 5px;
  border-top: 1px solid #ffffff;
  border-right: 0px;
  border-bottom: 1px solid #696969;
  border-left: 0px;
  white-space: nowrap;
  background-color: #4d96a8;
}
.tbl td {
  background-color: #efefef;
  text-align: left;
  padding: 2px 5px 2px 5px;
  border-top: 1px solid #ffffff;
  border-right: 0px;
  border-bottom: 1px solid #898989;
  border-left: 0px;
}
.tbl .center {
  text-align: center;
}
.tbl .right {
  text-align: right;
}
.tbl .italic {
  font-style: italic;
}

/* 検索エンジン・ブラウザー・OS用 */
.tbl3 {
  border-collapse: collapse;
  border: 0px;
}
.tbl3 th {
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  border: 0px;
  white-space: nowrap;
  background-color: #4d96a8;
}
.tbl3 td {
  text-align: left;
  border: 0px;
}
.tbl3 .row1 {
  background-color: #efefef;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #4c4c4c;
}
.tbl3 .row2 {
  background-color: #d7d7d7;
  border-bottom: 1px solid #7c7c7c;
  font-size: x-small;
  color: #2c2c2c;
}
.tbl3 .right {
  text-align: right;
}
.tbl3 .center {
  text-align: center;
}
.tbl3 .small {
  font-size: x-small;
}
.week6 {
	color: blue;
}
.week0 {
	color: red;
}
